<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{>header}}
        <img src="/img/robot.png">
        <p>Heyy!</p>
    </div>
        {{>footer}}

</body>

</html>